<h1>Listing vines</h1>

<table>
  <tr>
    <th>Uri</th>
    <th>Vineid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vines.each do |vine| %>
  <tr>
    <td><%= vine.uri %></td>
    <td><%= vine.vineid %></td>
    <td><%= link_to 'Show', vine %></td>
    <td><%= link_to 'Edit', edit_vine_path(vine) %></td>
    <td><%= link_to 'Destroy', vine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vine', new_vine_path %>
